nextflow.enable.dsl=2

params {

    // can be changed, but please consider `data/scripts/pull_containers.sh`
	singularity_store = "${HOME}/.singularity/cache/library"

    // paths to scripts (DO NOT CHANGE)
    check_files_script = "${projectDir}/data/scripts/check_files.py"
	lct_script = "${projectDir}/data/scripts/find_longest_coding_transcripts.py"
    ctdCDS_script = "${projectDir}/data/scripts/create_tab_delimited_CDS_file.py"
    find_overrepresented_sequences_script = "${projectDir}/data/scripts/find_overrepresented_sequences.py"
    plot_read_lengths_script = "${projectDir}/data/scripts/plot_read_lengths.py"
    determine_p_site_offsets_script = "${projectDir}/data/scripts/determine_p_site_offsets.py"
    count_reads_script = "${projectDir}/data/scripts/count_reads.py"
    check_periodicity_script = "${projectDir}/data/scripts/check_periodicity.py"
    filter_lengths_offsets_script = "${projectDir}/data/scripts/filter_reads_based_on_read_lengths_and_offsets.py"
    change_params_script = "${projectDir}/data/scripts/change_file.py"
    pull_containers_script = "${projectDir}/data/scripts/pull_containers.py"
	duplicate_r_script = "${projectDir}/data/scripts/duplicated.R"
	sorf_peptide_script = "${projectDir}/data/scripts/find_sorf_peptide.py"
	params.remove_fasta_duplicates_script = "${projectDir}/data/scripts/remove_fasta_duplicates.py"

}

// profiles are used to neatly manage config params
profiles {
    slurm {
        includeConfig "conf/envs/slurm.config"
    }
	slurm_offline {
        includeConfig "conf/envs/slurm_offline.config"
    }
	docker {
        includeConfig "conf/envs/docker.config"
    }
    singularity {
		includeConfig "conf/envs/singularity.config"
    }
	singularity_offline {
		includeConfig "conf/envs/singularity_offline.config"
	}
	full {
        includeConfig "conf/params/full.config"
    }
	test {
        includeConfig "conf/params/test.config"
    }
	proteomics {
        includeConfig "conf/params/proteomics.config"
    }
	prepare {
        includeConfig "conf/params/prepare.config"
    }
    ribotish {
        includeConfig "conf/params/ribotish.config"
    }
    genome_map {
        includeConfig "conf/params/genome_map.config"
    }
    qc {
        includeConfig "conf/params/qc.config"
    }
    pull {
        includeConfig "conf/params/pull.config"
    }
}

