nextflow.enable.dsl=2

params {

    // PULL_CONTAINERS
    slurm_config = "${projectDir}/conf/slurm.config"
    pull_containers_file = "${projectDir}/data/scripts/pull_containers.py"
	singularity_store = "${HOME}/.singularity/cache/library"

    // CHECK_FILES_PIPE
    check_files_script = "${projectDir}/data/scripts/check_files.py"

    // ANNOTATE_PIPE
	lct_script = "${projectDir}/data/scripts/find_longest_coding_transcripts.py"
    ctdCDS_script = "${projectDir}/data/scripts/create_tab_delimited_CDS_file.py"

    // RIBOSEQ_PIPE
    find_overrepresented_sequences_script = "${projectDir}/data/scripts/find_overrepresented_sequences.py"
    plot_read_lengths_script = "${projectDir}/data/scripts/plot_read_lengths.py"
    determine_p_site_offsets_script = "${projectDir}/data/scripts/determine_p_site_offsets.py"
    count_reads_script = "${projectDir}/data/scripts/count_reads.py"
    check_periodicity_script = "${projectDir}/data/scripts/check_periodicity.py"
    filter_lengths_offsets_script = "${projectDir}/data/scripts/filter_reads_based_on_read_lengths_and_offsets.py"

    // TRIM_FIRST_BASES
    cut = 5
    minimum_length = 20

    // CLIP_READS
	clip_reads_args = "-v -n -l 20 -c -z -a AAAAAAAAAA"

    // TRIM_READS
	trim_reads_args = "-v -l 20 -t 20 -Q 33 -z"

    // FILTER_READS
	filter_reads_args = "-v -q 20 -p 90 -z -Q 33"

    // FASTQ_TO_FASTA
    fastq_to_fasta_args = "-v -n -r"

    // segemehl mapping
	segemehl_args = "--silent --accuracy 90 --threads 25"

	// star mapping
	star_map_threads = 24

    // CHECK_PERIODICITY
    check_peridocitiy_codnum = 100
   
    // RIBOTISH_PIPE
    riboseq_mode = "regular" // or "TI"
    ribotish_quality_th = 0.4
    ribotish_predict_mode = "--longest" // or ""
	sorf_peptide_script = "${projectDir}/data/scripts/find_sorf_peptide.py"

    // PHILOSOPHER
	workspace = "${projectDir}/workspace"
    change_params_script = "${projectDir}/data/scripts/change_file.py"
    bam_sort_index_folder = "${projectDir}/data/.."
    peptideprophet_args = "--combine --decoy rev_ --ppm --accmass --expectscore --decoyprobs --nonparam"
    philosopher_filter_args = "--psm 0.05 --ion 0.05 --pep 0.05 --prot 1 --picked --tag rev_"

}

// profiles are used to neatly manage config params
profiles {
    slurm {
        includeConfig "conf/envs/slurm.config"
    }
	slurm_offline {
        includeConfig "conf/envs/slurm_offline.config"
    }
	pull {
       includeConfig "conf/envs/pull.config"
    }
	docker {
        includeConfig "conf/envs/docker.config"
    }
	full {
        includeConfig "conf/params/full.config"
    }
	test {
        includeConfig "conf/params/test.config"
    }
	proteomics {
        includeConfig "conf/params/proteomics.config"
    }
    ribotish {
        includeConfig "conf/params/ribotish.config"
    }
    singularity {
		includeConfig "conf/envs/singularity.config"
    }
	singularity_offline {
		includeConfig "conf/envs/singularity_offline.config"
	}
    pull {
        includeConfig "conf/params/pull.config"
    }
    pull_cluster {
        includeConfig "conf/envs/pull_cluster.config"
    }
    genome_map {
        includeConfig "conf/params/genome_map.config"
    }
}

