params {

	run_mode = "map to genome"

	// profile with real files
	riboseq_reads = "${projectDir}/data/muscle_samples/*.gz"
    proteomics_reads = "${projectDir}/data/proteomics_reads/*.mzML"
	other_RNAs_sequence = "${projectDir}/data/mm10_rrnas.fa"
    gtf = "${projectDir}/data/full/Mus_musculus.GRCm39.105.chr.gtf"
	genome = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa"
    genome_fai = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa.fai"

	// publishDir
	reads_dir = "results/full/prepare_reads"
    map_dir = "results/full/map"
    log_dir = "logs/full"

}


