singularity {

	enabled = true
	autoMounts = true
	cacheDir = "${params.singularity_store}"
	libraryDir = "${params.singularity_store}"

}

params {

	run_mode = "prepare"

	// profile with real files
	riboseq_reads = "${projectDir}/data/muscle_samples/*.gz"

	// publishDir
    reads_dir = "results/full/prepare_reads"
    log_dir = "logs/full"

}


