singularity {

	enabled = true
	autoMounts = true
	cacheDir = "${params.singularity_store}"
	libraryDir = "${params.singularity_store}"

}

params {

	run_mode = "proteomics"

	test_database = "${projectDir}/data/tests/small_peptides_all_quad_samples.fasta"
	proteomics_reads = "${projectDir}/data/mzml_spectra/*.mzML"

    other_RNAs_sequence = "${projectDir}/data/mm10_rrnas.fa"
    riboseq_reads = "${projectDir}/data/muscle_samples/*.gz"
    gtf = "${projectDir}/data/full/Mus_musculus.GRCm39.105.chr.gtf"
	genome = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa"
    genome_fai = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa.fai"


	// publishDir
    philosopher_dir = "results/full/philosopher"
    log_dir = "logs/full"

}


