singularity {

	enabled = true
	autoMounts = true
	cacheDir = "${params.singularity_store}"
	libraryDir = "${params.singularity_store}"

}

params {

    // PULL_FILES
	duplicate_r_script = "${projectDir}/data/scripts/duplicated.R"

	run_mode = "pull"
    
    // where should your pulled data be stored:
    directory_path = "${projectDir}/data/full"

	// profile with real files
	riboseq_reads = "${projectDir}/data/muscle_samples/*.gz"
    proteomics_reads = "${projectDir}/data/proteomics_reads/*.mzML"
    gtf = "${projectDir}/data/full/Mus_musculus.GRCm39.105.chr.gtf"
	genome = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa"
    genome_fai = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa.fai"
	combined_gtf = "${projectDir}/data/full/combined.gtf"
	rnacentral_gtf = "${projectDir}/data/full/mus_musculus.GRCm39.gtf"

	// publishDir
	pull_dir = "${projectDir}/results/pull_files"
    log_dir = "${projectDir}/logs/full"

}


