params {

	run_mode = "full"

	// profile with real files
	riboseq_reads = "${projectDir}/data/muscle_samples/*.gz"
    other_RNAs_sequence = "${projectDir}/data/mm10_rrnas.fa"
    proteomics_reads = "${projectDir}/data/proteomics_reads/*.mzML"
    gtf = "${projectDir}/data/full/Mus_musculus.GRCm39.105.chr.gtf"
	genome = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa"
    genome_fai = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa.fai"
	combined_gtf = "${projectDir}/data/full/combined.gtf"
	rnacentral_gtf = "${projectDir}/data/full/mus_musculus.GRCm39.gtf"

	// publishDir
    qc_dir = "results/full/qc"
    log_dir = "logs/full"

}


