singularity {

	enabled = true
	autoMounts = true
	cacheDir = "${params.singularity_store}"
	libraryDir = "${params.singularity_store}"

}

params {

	run_mode = "ribotish"

    riboseq_reads = "${projectDir}/data/muscle_samples/*.gz"
    proteomics_reads = "${projectDir}/data/proteomics_reads/*.mzML"
    //gtf = "${projectDir}/data/full/Mus_musculus.GRCm39.105.chr.gtf"
	gtf = "${projectDir}/data/full/combined.gtf"
    other_RNAs_sequence = "${projectDir}/data/mm10_rrnas.fa"
	genome = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa"
    genome_fai = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa.fai"

	bam_sort_index_folder = "${projectDir}/data/Sample_11_Concatenated_WT_30M_132443_RIBO_ALL.folder_sorted_indexed_bam"

	// publishDir
    ribotish_dir = "results/ribo_sep/full/ribotish"
    log_dir = "logs/ribo_sep/full"

}


