// change these paths to lead to your files
params {
	// must be a preprocessed fasta file
	prepared_fasta = "${projectDir}/results/prepare_reads/fastq_to_fasta/*"
	proteomics_reads = "${projectDir}/../data/PXD009262_proteomics/*.raw"
    gtf = "${projectDir}/../data/normal_and_rnacentral_gtf_for_nitish_data/Mus_musculus.GRCm39.105_and_rnacentral.gtf" 
    other_RNAs_sequence = "${projectDir}/../data/ribosomal_DNA/Mus_musculus_rDNA_complete_repeating_unit.fa"
	genome = "${projectDir}/../data/Mus_musculus.GRCm39/Mus_musculus.GRCm39.dna.primary_assembly.fa"
	swissprot = "${projectDir}/../data/swiss-prot-2022_03/swissprot_2022_03_only_mouse.fasta"
}

// the following parameters are from the actual tools run by the pipeline
// only change these values if you know what you are doing
params {
	segemehl_args = "--silent --accuracy 90 --threads 25"
	star_threads = 24
    check_peridocitiy_codnum = 100
    riboseq_mode = "regular" // regular/TI
    ribotish_quality_th = 0.5
    ribotish_predict_mode = "--longest" // --longest/""
	workspace = "${projectDir}/workspace"
	fragger_mode = "nonspecific" // open/closed/nonspecific/glyco
	peptideprophet_args = "--combine --decoy rev_ --ppm --accmass --expectscore --decoyprobs --nonparam"
    philosopher_filter_args = "--psm 0.05 --ion 0.05 --pep 0.05 --prot 1 --picked --tag rev_"
}

// these paths can be changed if you want your output files to be stored elsewhere on your system
params {
    annotate_dir = "results/fasta/annotate"
    riboseq_dir = "results/fasta/riboseq"
    ribotish_dir = "results/fasta/ribotish"
    philosopher_dir = "results/fasta/philosopher"
    qc_dir = "results/fasta/qc"
    map_dir = "results/fasta/map"
    log_dir = "logs/fasta"
}

// do not change these params
params {
    run_mode = "fasta"
}
