params {

	run_mode = "full"

	// only change the paths below
	riboseq_reads = "${projectDir}/data/muscle_samples/*.gz"
    proteomics_reads = "${projectDir}/data/mzml_spectra/*.mzML"
    gtf = "${projectDir}/data/full/Mus_musculus.GRCm39.105.chr.gtf"
    other_RNAs_sequence = "${projectDir}/data/tests/mm10_rrnas.fa"
	genome = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa"
    genome_fai = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa.fai"
	combined_gtf = "${projectDir}/data/full/combined.gtf"
	rnacentral_gtf = "${projectDir}/data/full/mus_musculus.GRCm39.gtf"

	// these paths can be changed if you want your output files to be stored elsewhere on your system
    annotate_dir = "results/full/annotate"
    riboseq_dir = "results/full/riboseq"
    ribotish_dir = "results/full/ribotish"
    philosopher_dir = "results/full/philosopher"
    qc_dir = "results/full/qc"
    map_dir = "results/full/map"
    reads_dir = "results/full/prepare_reads"
    log_dir = "logs/full"

}


