// change these paths to lead to your files
params {
	riboseq_reads = "${projectDir}/../data/muscle_samples/*.gz"
    proteomics_reads = "${projectDir}/../data/mzml_spectra/*.mzML"
    gtf = "${projectDir}/../data/Mus_musculus.GRCm39/Mus_musculus.GRCm39.105.chr.gtf"
    other_RNAs_sequence = "${projectDir}/../data/tests/mm10_rrnas.fa"
	genome = "${projectDir}/../data/Mus_musculus.GRCm39/Mus_musculus.GRCm39.dna.primary_assembly.fa"
}

// the following parameters are from the actual tools run by the pipeline
// only change these values if you know what you are doing
params {
    cut = 5
    minimum_length = 20
	clip_reads_args = "-v -n -l 20 -c -z -a AAAAAAAAAA"
	trim_reads_args = "-v -l 20 -t 20 -z"
	filter_reads_args = "-v -q 20 -p 90 -z"
    fastq_to_fasta_args = "-v -n -r"
	segemehl_args = "--silent --accuracy 90 --threads 25"
	star_threads = 24
    check_peridocitiy_codnum = 100
    riboseq_mode = "regular" // or "TI"
    ribotish_quality_th = 0.4
    ribotish_predict_mode = "--longest" // or ""
	workspace = "${projectDir}/workspace"
	peptideprophet_args = "--combine --decoy rev_ --ppm --accmass --expectscore --decoyprobs --nonparam"
    philosopher_filter_args = "--psm 0.05 --ion 0.05 --pep 0.05 --prot 1 --picked --tag rev_"
}

// these paths can be changed if you want your output files to be stored elsewhere on your system
params {
    annotate_dir = "results/full/annotate"
    riboseq_dir = "results/full/riboseq"
    ribotish_dir = "results/full/ribotish"
    philosopher_dir = "results/full/philosopher"
    qc_dir = "results/full/qc"
    map_dir = "results/full/map"
    reads_dir = "results/full/prepare_reads"
    log_dir = "logs/full"
}

// do not change these params
params {
    run_mode = "full"
}
