// change these paths to lead to your files
params {
	riboseq_reads = "${projectDir}/data/muscle_samples/*.gz"
	other_RNAs_sequence = "${projectDir}/data/mm10_rrnas.fa"
    gtf = "${projectDir}/data/full/Mus_musculus.GRCm39.105.chr.gtf"
	genome = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa"
}

// the following parameters are from the actual tools run by the pipeline
// only change these values if you know what you are doing
params {
	star_threads = 24
}

// these paths can be changed if you want your output files to be stored elsewhere on your system
params {
	reads_dir = "results/genome_map/prepare_reads"
    map_dir = "results/genome_map/map"
    log_dir = "logs/genome_map"
}

// do not change these params
params {
    run_mode = "map to genome"
}
