params {

	run_mode = "map to genome"

	// profile with real files
	riboseq_reads = "${projectDir}/data/muscle_samples/*.gz"
	other_RNAs_sequence = "${projectDir}/data/mm10_rrnas.fa"
    gtf = "${projectDir}/data/full/Mus_musculus.GRCm39.105.chr.gtf"
	genome = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa"

	// publishDir
	reads_dir = "results/genome_map/prepare_reads"
    map_dir = "results/genome_map/map"
    log_dir = "logs/genome_map"

}


