// change these paths to lead to your files
params {
	riboseq_reads = "${projectDir}/../data/muscle_samples/*.gz"
}

// the following parameters are from the actual tools run by the pipeline
// only change these values if you know what you are doing
params {
    // TRIM_FIRST_BASES
    cut = 5
    minimum_length = 20

    // CLIP_READS
	clip_reads_args = "-v -n -l 20 -c -z -a AAAAAAAAAA"

    // TRIM_READS
	trim_reads_args = "-v -l 20 -t 20 -Q 33 -z"

    // FILTER_READS
	filter_reads_args = "-v -q 20 -p 90 -z -Q 33"

    // FASTQ_TO_FASTA
    fastq_to_fasta_args = "-v -n -r"
}

// these paths can be changed if you want your output files to be stored elsewhere on your system
params {
    reads_dir = "results/prepare_reads"
    log_dir = "logs/prepare_reads"

// do not change these params
params {
    run_mode = "prepare"
}
