params {

	run_mode = "proteomics"

	// only change the paths below
	test_database = "${projectDir}/data/tests/small_peptides_all_quad_samples.fasta"
	proteomics_reads = "${projectDir}/data/mzml_spectra/*.mzML"

	// these paths can be changed if you want your output files to be stored elsewhere on your system
    philosopher_dir = "results/proteomics/philosopher"
    log_dir = "logs/proteomics/philosopher"

}

