// only change the paths below
params {
	// make sure this file's name ends with `.fasta`
	test_database = "${projectDir}/../replication/swissprot_2014_human_pipeline_combined.fasta"
	proteomics_reads = "${projectDir}/../data/nter_proteomics_PXD000304/*.mzML"
}

// the following parameters are from the actual tools run by the pipeline
// only change these values if you know what you are doing
params {
	workspace = "${projectDir}/workspace"
	fragger_mode = "nonspecific" // open/closed/nonspecific/glyco
    peptideprophet_args = "--combine --decoy rev_ --ppm --accmass --expectscore --decoyprobs --nonparam"
    philosopher_filter_args = "--psm 0.05 --ion 0.05 --pep 0.05 --prot 1 --picked --tag rev_"
}

// these paths can be changed if you want your output files to be stored elsewhere on your system
params {
    philosopher_dir = "results/proteomics/philosopher"
    log_dir = "logs/proteomics/philosopher"
}

// do not change these params
params {
    run_mode = "proteomics"
}
