params {

    // PULL_FILES
	duplicate_r_script = "${projectDir}/data/scripts/duplicated.R"

	run_mode = "pull"
    
    // where should your pulled data be stored:
    directory_path = "${projectDir}/data/full"

	// publishDir
	pull_dir = "./results/pull_files"
    log_dir = "./logs/pull_files"

}


