// change these paths to lead to your files
params {
    directory_path = "${projectDir}/data/full"
    genome = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa"
    gtf = "${projectDir}/data/full/Mus_musculus.GRCm39.105.chr.gtf"
    combined_gtf = "${projectDir}/data/full/combined.gtf"
	rnacentral_gtf = "${projectDir}/data/full/mus_musculus.GRCm39.gtf"
}

// publishDir
params {
	pull_dir = "./results/pull_files"
    log_dir = "./logs/pull_files"
}

// do not change these params
params {
    run_mode = "pull"
}
