// change these paths to lead to your files
params {
	riboseq_reads = "${projectDir}/data/muscle_samples/*.gz"
    other_RNAs_sequence = "${projectDir}/data/mm10_rrnas.fa"
    gtf = "${projectDir}/data/full/Mus_musculus.GRCm39.105.chr.gtf"
	genome = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa"
}

// the following parameters are from the actual tools run by the pipeline
// only change these values if you know what you are doing
params {
    // segemehl mapping
	segemehl_args = "--silent --accuracy 90 --threads 25"

    // CHECK_PERIODICITY
    check_peridocitiy_codnum = 100
}

// these paths can be changed if you want your output files to be stored elsewhere on your system
params {
    annotate_dir = "results/qc_only/annotate"
    qc_dir = "results/qc_only/qc"
    map_dir = "results/qc_only/map"
    log_dir = "logs/qc_only"
}

// do not change these params
params {
	run_mode = "qc"
}
