params {

	run_mode = "ribotish"

	// paths to your files
	gtf = "${projectDir}/data/full/combined.gtf"
	genome = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa"
    genome_fai = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa.fai"
	// this input is very special: It is a folder containing a sorted+indexed bam file and its index
	bam_sort_index_folder = "${projectDir}/data/Sample_11_Concatenated_WT_30M_132443_RIBO_ALL.folder_sorted_indexed_bam"

	// these paths can be changed if you want your output files to be stored elsewhere on your system
    ribotish_dir = "results/only_run_ribotish/full/ribotish"
    log_dir = "logs/only_run_ribotish/full"

}


