// change these paths to lead to your files
params {
	gtf = "${projectDir}/data/full/Mus_musculus.GRCm39.105.chr.gtf"
	genome = "${projectDir}/data/full/Mus_musculus.GRCm39.dna.primary_assembly.fa"
	// this input is very special: It must be a folder containing a sorted+indexed bam file and its index
    // please make sure your input looks like that if you want to use this profile
	bam_sort_index_folder = "${projectDir}/data/Sample_11_Concatenated_WT_30M_132443_RIBO_ALL.folder_sorted_indexed_bam"
}

// the following parameters are from the actual tools run by the pipeline
// only change these values if you know what you are doing
params {
    // RIBOTISH_PIPE
    riboseq_mode = "regular" // or "TI"
    ribotish_quality_th = 0.4
    ribotish_predict_mode = "--longest" // or ""
}

// these paths can be changed if you want your output files to be stored elsewhere on your system
params {
    ribotish_dir = "results/only_run_ribotish/full/ribotish"
    log_dir = "logs/only_run_ribotish/full"
}

// do not change these params
params {
    run_mode = "ribotish"
}
