params {

	run_mode = "test"

	// only change the paths below
	// but this should probably just be run with my files by using my tests folder
	riboseq_reads = "${projectDir}/data/tests/*.gz"
    proteomics_reads = "${projectDir}/data/tests/010_part10of10.mzML"
	other_RNAs_sequence = "${projectDir}/data/tests/mm10_rrnas.fa"
    gtf = "${projectDir}/data/tests/TEST_combined.gtf"
	genome = "${projectDir}/data/tests/TEST_genome.fa"
    genome_fai = "${projectDir}/data/tests/TEST_genome.fa.fai"
	test_database = "${projectDir}/data/tests/small_peptides_all_quad_samples.fasta"

	// these paths can be changed if you want your output files to be stored elsewhere on your system
    annotate_dir = "results/tests/annotate"
    riboseq_dir = "results/tests/riboseq"
    ribotish_dir = "results/tests/ribotish"
    philosopher_dir = "results/tests/philosopher"
    qc_dir = "results/tests/qc"
    map_dir = "results/tests/map"
    reads_dir = "results/tests/prepare_reads"
    log_dir = "logs/tests"

}

