docker {
	enabled = true
	runOptions = '-u $(id -u):$(id -g)'
}

// change the parameters below to fit your system needs
params {
    index_threads = 2
    fragger_ram = 8
    ionquant_ram = 8
    // the parameter below is special and is used to slow down execution in local envs
    // bc docker execution was always somehow too fast and gave errors with fastx
    local_run = "docker"
}

process {
    memory = 10
    cpus = 4
}

// don't change anything below this line
process {
    withLabel: philosopher {
        container = 'biocontainers/philosopher:v2.0.0_cv2.0.0'
        containerOptions = '--volume $HOME:$HOME -w $PWD'
    }
    // when using docker, users have to manually login with "docker login" to pull from this repo
    withLabel: msfragger {
        container = 'noepozzan/msfragger:0.1'
        containerOptions = '--volume $HOME:$HOME'
    }
    withLabel: htseq {
        container = 'zavolab/python_htseq:3.6.5_0.10.0'
        containerOptions = '--volume $HOME:$HOME'
    }
    withLabel: segemehl {
        container = 'zavolab/segemehl:0.2.0'
        containerOptions = '--volume $HOME:$HOME'
    }
    withLabel: cufflinks {
        container = 'zavolab/cufflinks:2.2.1'
        containerOptions = '--volume $HOME:$HOME'
    }
    withLabel: htseq_biopython {
        container = 'zavolab/python_htseq_biopython:3.6.5_0.10.0_1.71'
        containerOptions = '--volume $HOME:$HOME'
    }
    withLabel: cutadapt {
        container = 'zavolab/cutadapt:1.16'
        containerOptions = '--volume $HOME:$HOME'
    }
    withLabel: fastx {
        container = 'zavolab/fastx:0.0.14'
        containerOptions = '--volume $HOME:$HOME'
    }

    withLabel: pysam {
        container = 'fgypas/python_pysam:3.6.5_0.15.1'
        containerOptions = '--volume $HOME:$HOME'
    }
    withLabel: samtools {
        container = 'zavolab/samtools:1.8'
        containerOptions = '--volume $HOME:$HOME'
    }
    withLabel: rcrunch_python {
        container = 'zavolab/rcrunch_python:1.0'
        containerOptions = '--volume $HOME:$HOME'
    }
    withLabel: ribotish {
		container = 'noepozzan/ribotish:0.1'
        containerOptions = '--volume $HOME:$HOME'
	}
	withLabel: star {
		container = 'mgibio/star:2.7.0f'
        containerOptions = '--volume $HOME:$HOME'
	}
	withLabel: gffread {
		container = 'zavolab/gffread:0.11.7'
        containerOptions = '--volume $HOME:$HOME'
	}
	withLabel: sorf_to_speptide {
		container = "noepozzan/sorf_to_speptide:0.1"
        containerOptions = '--volume $HOME:$HOME'
	}
	withLabel: ionquant {
		container = "singjust/ionquant:1.7.17"
        containerOptions = '--volume $HOME:$HOME'
	}
	withLabel: rduplicate {
		container = "noepozzan/rduplicate:0.1"
        containerOptions = '--volume $HOME:$HOME'
	}
}
