singularity {

	enabled = true
	autoMounts = true
	cacheDir = "${params.singularity_store}"
	libraryDir = "${params.singularity_store}"

}

// this profile doesn't have slurm as an executor
// this is used in 2 cases:
// when connecting to the internet
// when running on a system without slurm


process {

    memory = 125.GB
    cpus = 20

    withLabel: rcrunch_python {
		container = 'docker://zavolab/rcrunch_python:1.0'
	}

	withLabel: samtools {
        executor = "slurm"
		container = 'docker://zavolab/samtools:1.8'
	}

	withLabel: gffread {
		executor = "slurm"
		container = 'docker://zavolab/gffread:0.11.7'
	}

	withLabel: rduplicate {
		executor = "slurm"
		container = "docker://noepozzan/rduplicate:0.1"
	}

}





