singularity {
	enabled = true
	autoMounts = true
	cacheDir = "${params.singularity_store}"
	libraryDir = "${params.singularity_store}"
}

// change the parameters below to fit your system needs
params {
    index_threads = 24
	fragger_ram = 80
	ionquant_ram = 80
}

process {
	// controls the resources of the individual jobs
    memory = 125.GB
    cpus = 20
	clusterOptions = "--time=6:00:00 --qos=6hours"
	withLabel: mapping {
        memory = 200.GB
        cpus = 40
    }
    withLabel: indexing {
        memory = 125.GB
        cpus = 25
    }
    withLabel: predicting {
        memory = 200.GB
        cpus = 35
    }
}

// do not change anything below this line
process {
	executor = 'slurm'
	withLabel: philosopher {
		container = 'docker://biocontainers/philosopher:v2.0.0_cv2.0.0'
	}
	withLabel: msfragger {
		container = 'docker://noepozzan/msfragger:0.1'
	}
	withLabel: htseq {
		container = 'docker://zavolab/python_htseq:3.6.5_0.10.0'
	}
	withLabel: segemehl {
		container = 'docker://zavolab/segemehl:0.2.0'
	}
	withLabel: cufflinks {
		container = 'docker://zavolab/cufflinks:2.2.1'
	}
	withLabel: htseq_biopython {
		container = 'docker://zavolab/python_htseq_biopython:3.6.5_0.10.0_1.71'
	}
	withLabel: cutadapt {
        container = 'docker://zavolab/cutadapt:1.16'
	}
	withLabel: fastx {
    	container = 'docker://zavolab/fastx:0.0.14'
	}
	withLabel: pysam {
        container = 'docker://fgypas/python_pysam:3.6.5_0.15.1'
	}
	withLabel: samtools {
		container = 'docker://zavolab/samtools:1.8'
	}
	withLabel: rcrunch_python {
		container = 'docker://zavolab/rcrunch_python:1.0'
	}
	withLabel: ribotish {
		container = 'docker://noepozzan/ribotish:0.1'
	}
	withLabel: star {
		container = 'docker://mgibio/star:2.7.0f'
	}
	withLabel: gffread {
		container = 'docker://zavolab/gffread:0.11.7'
	}
	withLabel: sorf_to_speptide {
		container = "docker://noepozzan/sorf_to_speptide:0.1"
	}
	withLabel: ionquant {
		container = "docker://singjust/ionquant:1.7.17"
	}
	withLabel: rduplicate {
		container = "docker://noepozzan/rduplicate:0.1"
	}
}





