singularity {

	enabled = true
	autoMounts = true
	cacheDir = "${params.singularity_store}"
	libraryDir = "${params.singularity_store}"

}

// change the parameters below to make them fit your system specifications

params {
    index_threads = 24
	fragger_ram = 80
	ionquant_ram = 80
}

process {

    memory = 125.GB
    cpus = 20

	withLabel: mapping {
        memory = 200.GB
        cpus = 40
    }
    withLabel: indexing {
        memory = 125.GB
        cpus = 25
    }
    withLabel: predicting {
        memory = 200.GB
        cpus = 35
    }

	// do not change anything below this line
	executor = 'slurm'

	withLabel: philosopher {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/philosopher_v2.0.0_cv2.0.0.sif"
	}

	withLabel: msfragger {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/msfragger_0.1.sif"
	}

	withLabel: htseq {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/python_htseq_3.6.5_0.10.0.sif"
	}

	withLabel: segemehl {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/segemehl_0.2.0.sif"
	}

	withLabel: cufflinks {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/cufflinks_2.2.1.sif"
	}

	withLabel: htseq_biopython {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/python_htseq_biopython_3.6.5_0.10.0_1.71.sif"
	}

	withLabel: cutadapt {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/cutadapt_1.16.sif"
	}

	withLabel: fastx {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/fastx_0.0.14.sif"
	}

	withLabel: pysam {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/python_pysam_3.6.5_0.15.1.sif"
	}

	withLabel: samtools {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/samtools_1.8.sif"
	}

	withLabel: rcrunch_python {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/rcrunch_python_1.0.sif"
	}
	
	withLabel: ribotish {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/ribotish_0.1.sif"
	}

	withLabel: star {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/star_2.7.0f.sif"
	}

	withLabel: gffread {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/gffread_0.11.7.sif"
	}

	withLabel: sorf_to_speptide {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/sorf_to_speptide_0.1.sif"
	}

	withLabel: ionquant {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/ionquant_1.7.17.sif"

	}

	withLabel: rduplicate {
        container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/rduplicate_0.1.sif"
	}

}





